.hero {
    position: relative;
    min-height: 700px;

    &-content {

        &-tagline {
            padding-left: 30px;

            &::after {
                content: "";
                position: absolute;
                width: 20px;
                height: 2px;
                background-color: $black;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }

    &-images {

        &-wrapper {
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0;
            right: 0;
        }
    }
}