.navigation {

    &-menu {
        transition: ease-in-out .5s;

        &-icon {

            svg {
                width: 25px;
                height: 25px;

                path:nth-of-type(2) {
                    fill: white;
                }
            }

            &:hover {
                opacity: .5;
            }
        }
    }

    &-button {

        &.active {
            
            span {
                background-color: white;
            }
        }

        span {
            transition: ease-in-out .3s;
        }
    
        &:hover {
    
            span:nth-of-type(3) {
                width: 25px;
            }
        }
    }
}

